<div class="reset-password-container">
    <h2>Reset Your Password</h2>
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <div class="input-container">
        <input 
          type="text" 
          placeholder="Login" 
          formControlName="login"
          (input)="onInputLogin($event)"
        >
      </div>
      <div class="input-container">
        <input 
          type="password" 
          placeholder="New Password" 
          formControlName="newPassword"
          (input)="onInputNewPassword($event)"
        >
      </div>
      @if (errorMessage) {
        <p class="error-message">{{ errorMessage }}</p>
      }
      <button type="submit" [disabled]="resetForm.invalid">Reset</button>
    </form>
  </div>