.spacer {
    flex: 1 1 auto;
}

.tag-list {
  width: 40vw;
  padding-right: 10px;
}

.user-list {
  width: 40vw;
  padding-right: 10px;
}

.search-item {
  display: inline-block;
  padding-right: 10px;
}