<div class="publication-container">
    <div class="header">
      <span class="user-login">{{ publication.user.login }}</span>
      <div class="button-group">
        <button mat-icon-button class="copy-btn" (click)="copyImage()">
          <mat-icon class="material-icons color_pink">content_copy</mat-icon>
        </button>
        <ng-container *ngIf="isProfilePage">
          <button mat-icon-button class="edit-btn" (click)="startEditing()" *ngIf="!isEditing()">
            <mat-icon class="material-icons color_pink">edit</mat-icon>
          </button>
          <button mat-icon-button class="delete-btn" (click)="deletePublication()">
            <mat-icon class="material-icons color_pink">delete</mat-icon>
          </button>
        </ng-container>
      </div>
    </div>
  
  <div class="image-container" *ngIf="imageLoaded && publication.filePath">
    <img *ngIf="imageLoaded" [src]="publication.filePath" alt="Publication Image" class="publication-image" />
  </div>

  <div class="image-container" *ngIf="!imageLoaded">
    <p>Loading image...</p>
  </div>
  
  <div class="tags-container">
    @if (!isEditing()) {
      <div class="custom-chip-set">
        @for (tag of publication.tags; track tag) {
          <div class="custom-chip">
            <span>{{tag.name}}</span>
          </div>
        }
      </div>
    }

    @if (isEditing()) {
      <div class="custom-chip-set">
        @for (tag of editableTags(); track tag) {
          <div class="custom-chip">
            <span>{{tag.name}}</span>
            <button class="remove-chip-btn" (click)="removeTag(tag)">
              <mat-icon>clear</mat-icon>
            </button>
          </div>
        }
      </div>
      <div class="tag-input-container">
        <input
          type="text"
          placeholder="new tag.."
          (keyup.enter)="addTagFromInput($event)"
          #tagInput
        >
        <div class="error-message" *ngIf="editableTags().length === 0">add at least one tag</div>
      </div>
      <button class="save-btn" (click)="saveTags()" [disabled]="editableTags().length === 0">ok</button>
    }
  </div>
</div>
  