@use '../../styles/shared-styles.scss' as *;

.modal-overlay {
    border-radius: 0;
    z-index: 1200;
    animation: fadeIn 0.3s ease;
}

.modal-content {
    background-color: #fff;
    border-radius: 16px;
    padding: 20px 26px;
    width: 400px;
    max-width: 80%;
    position: relative; 
    text-align: left;

    h2 {
        margin: 0;
        font-family: $font-secondary !important;
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 20px;
    }

    .close-btn {
        background: none;
        border: none;
        font-size: 24px;
        color: $primary-pink;
        cursor: pointer;
        margin-bottom: 20px;

        &:hover {
            color: $hover-pink;
        }
    }
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.change-password-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-field {
    display: flex;
    flex-direction: column;
    gap: 8px;

    label {
        margin-left: 10px;
        font-family: $font-primary;
        font-size: 14px;
        color: $light-pink;
    }

    input {
        width: 100%;
        padding: 6px 12px;
        border: 1px solid $border-pink;
        border-radius: 20px;
        font-family: $font-primary;
        font-size: 16px;
        color: $primary-pink;
        box-sizing: border-box;

        &::placeholder {
            color: $light-pink;
            font-family: $font-primary;
            font-size: 16px;
        }

        &:focus {
            outline: none;
            border-color: $primary-pink;
            box-shadow: 0 0 5px rgba(255, 167, 181, 0.5);
        }

        &.invalid {
            border-color: $error-pink;
            box-shadow: 0 0 5px rgba(255, 141, 161, 0.5);
        }
    }
}

.success-message, .server-error {
    font-family: $font-primary;
    font-size: 14px;
    color: $hover-pink;
    text-align: center;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;

    .cancel-btn {
        padding: 6px 16px;
        background-color: #fff;
        border: 1px solid $border-pink;
        border-radius: 20px;
        cursor: pointer;
        font-family: $font-primary;
        font-size: 14px;
        color: $primary-pink;
        transition: background-color 0.3s ease, color 0.3s ease;

        &:hover {
            background-color: $background-hover;
            color: $hover-pink;
        }
    }

    .submit-btn {
        padding: 6px 16px;
        background-color: $primary-pink;
        color: #fff;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        font-family: $font-primary;
        font-size: 14px;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: $hover-pink;
        }

        &:disabled {
            background-color: $disabled-pink;
            cursor: not-allowed;
        }
    }
}


@media(max-width: 480px) {
    .modal-content{
        h2 {
            font-size: 5.4vw;
            margin-bottom: 10px;
        }

        .close-btn {
            margin-bottom: 10px;
        }
    }

    .form-field {
        gap: 6px;
    
        label {
            font-size: 12px;
        }
    
        input {
            padding: 4px 12px;
            font-size: clamp(3.6vw, 14px, 14px);
    
            &::placeholder {
                font-size: clamp(3.6vw, 14px, 14px);
            }
        }
    }

    .success-message, .server-error {
        font-size: clamp(3.2vw, 12px, 12px);
    }

    .form-actions {
        margin-top: 14px;
    
        .cancel-btn {
            font-size: clamp(3.2vw, 12px, 12px);
        }
    
        .submit-btn {
            font-size: clamp(3.2vw, 12px, 12px);
        }
    }
}