.file-selector {
    padding-bottom: 20px;
}

.tag-input {
    width: 100%;
    margin-top: 10px;
    align-self: center;
  }
  
button {
  margin-top: 10px;
}

img {
  margin-top: 10px;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
