@use '../../styles/shared-styles.scss' as *;

h1 {
  margin: 0 auto 20px;
  max-width: 70vw;
}

.add-image-page {
  width: 100vw;
  height: 100vh;
}

.file-selector {
  padding-bottom: 20px;
}

.tag-input {
  width: 60%;
  margin: auto;
  display: block;
}

img {
  margin-top: 10px;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.dropzone {
  border: 1px dashed $light-pink;
  border-radius: 26px;
  margin: 16px 25vw;
  aspect-ratio: 7 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  mat-icon {
    font-size: 70px;
    color: $light-pink;
    margin-bottom: 10px;
    width: 70px;
    height: 70px;
  }

  h3 {
    font-family: $font-primary;
    font-weight: lighter;
    color: $primary-pink;
    font-size: 20px;
    margin: 10px 0;
  }

  button {
    margin-top: 10px;
    background-color: $light-pink;
    font-size: 20px;
    color: #ffffff;
    font-family: $font-primary;
    padding: 0 30px;
    height: 30px;
  }
}

.image-preview {
  margin: 20px 10vw;
  position: relative;
  text-align: center;
}

.image-wrapper {
  display: inline-block;
}

.preview-image {
  max-width: 90%;
  max-height: 60vh;
  border-radius: 16px;
  object-fit: contain;
  display: inline-block;
}

.back-button {
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  color: $primary-pink;

  mat-icon {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 30px;
  }
}

.message {
  color: #ff6b81; 
  font-family: $font-primary;
  font-size: 12px;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  text-align: center;
  width: 100%;
}

.message.ng-leave {
  opacity: 0;
}

.tag-input-container {
  gap: 12px;
  width: 50%;
  margin: 0 auto;

  .input-wrapper {
    position: relative;
    gap: 10px;
  }

  input {
    padding: 6px 10px;
  }

  .add-tag-button {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    border-radius: 50%;
    min-width: 34px;
    height: 34px;
    background-color: $background-hover;
    color: $hover-pink;
    border: solid 1px;
    border-color: $light-pink;
    font-size: 24px;
    cursor: pointer;

    &:hover {
      background-color: $light-pink;
      color: #fff;
      border: none;
    }
  }
}

.custom-chip-set {
  justify-content: center;
}

.add-image-button {
  display: block;
  margin: 40px auto 60px;
  background-color: $primary-pink;
  color: #ffffff;
  font-family: $font-secondary;
  font-size: 18px;
  padding: 4px 26px;
  border-radius: 20px;
  border: none;
  cursor: pointer;

  &[disabled] {
    background-color: $disabled-pink;
    opacity: 0.6;
    color: #fff;
    cursor: not-allowed;
  }
}

.upload-success-message, .upload-progress {
  color: $primary-pink;
  font-family: $font-primary;
  text-align: center;
  font-size: 16px;
  margin: 0px auto 40px;

  .profile-link {
    color: $hover-pink;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .dropzone {
    margin: 20px 16vw;
    aspect-ratio: 2 / 1;

    mat-icon {
      margin-bottom: 0;
      width: 48px;
      height: 48px;
      font-size: 48px;
    }

    h3 {
      font-size: clamp(16px, 1.4vw, 20px);
      margin: 4px 0;
    }

    button {
      font-size: clamp(16px, 1.4vw, 20px);
      padding: 0 20px;
      height: 26px;
    }
  }

  .custom-chip,
  .tag-input-container input,
  .autocomplete-item {
    font-size: clamp(16px, 1.4vw, 20px);
  }

  .tag-input-container input {
    padding: 4px 10px;

    &::placeholder {
      font-size: clamp(16px, 1.4vw, 20px);
    }
  }

  .autocomplete-item {
    padding: 6px 10px;
  }

  .add-image-button {
    font-size: clamp(16px, 1.8vw, 20px);
    padding: 3px 28px;
  }

  .tag-input-container {
    .add-tag-button {
      min-width: 34px;
      height: 34px;
      font-size: 20px;
    }
  }

  .upload-success-message, .upload-progress {
    font-size: clamp(15px, 1.4vw, 16px);
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .dropzone {
    margin: 20px 16vw;
    border-radius: 20px;
    aspect-ratio: 3 / 2;

    mat-icon {
      margin-bottom: 8px;
      width: 44px;
      height: 44px;
      font-size: 44px;
    }

    h3 {
      font-size: clamp(16px, 1.8vw, 17px);
      margin: 4px 0;
    }

    button {
      font-size: clamp(16px, 1.8vw, 17px);
      padding: 0 20px;
      height: 26px;
    }
  }

  .back-button mat-icon {
    width: 26px;
    height: 26px;
    line-height: 26px;
    font-size: 26px;
  }

  .custom-chip,
  .tag-input-container input,
  .autocomplete-item {
    font-size: clamp(16px, 1.8vw, 17px);
  }

  .tag-input-container input {
    padding: 4px 10px;

    &::placeholder {
      font-size: clamp(16px, 1.8vw, 17px);
    }
  }

  .autocomplete-item {
    padding: 6px 10px;
  }

  .add-image-button {
    font-size: clamp(16px, 2vw, 20px);
    padding: 3px 24px;
    margin-top: 30px;
  }

  .tag-input-container {
    .add-tag-button {
      min-width: 32px;
      height: 32px;
      font-size: 20px;
    }
  }

  .upload-success-message, .upload-progress {
    font-size: clamp(15px, 1.6vw, 16px);
  }
}

@media (max-width: 767px) {
  .dropzone {
    margin: 20px 16vw;
    border-radius: 18px;
    aspect-ratio: 4 / 3;

    mat-icon {
      margin-bottom: 0;
      width: 34px;
      height: 34px;
      font-size: 34px;
      margin-bottom: 8px;
    }

    h3 {
      font-size: clamp(14px, 2.2vw, 1rem);
      margin: 2px 0;
    }

    button {
      font-size: clamp(14px, 2.2vw, 1rem);
      padding: 0 20px;
      height: 22px;
    }
  }

  .back-button mat-icon {
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 24px;
  }

  .custom-chip,
  .tag-input-container input,
  .autocomplete-item {
    font-size: clamp(14px, 2.2vw, 1rem);
  }

  .tag-input-container input {
    padding: 4px 10px;

    &::placeholder {
      font-size: clamp(14px, 2.2vw, 1rem);
    }
  }

  .autocomplete-item {
    padding: 4px 10px;
  }

  .add-image-button {
    font-size: clamp(14px, 3.6vw, 15px);
    padding: 0 20px;
    margin-top: 30px;
  }

  .tag-input-container {
    .add-tag-button {
      min-width: 28px;
      height: 28px;
      font-size: 20px;
    }
  }

  .upload-success-message, .upload-progress {
    font-size: clamp(13px, 1.7vw, 15px);
  }
}

@media (max-width: 480px) {
  .dropzone {
    margin: 20px 10vw;
    border-radius: 16px;

    mat-icon {
      width: 30px;
      height: 30px;
      font-size: 30px;
      margin-bottom: 8px;
    }

    h3 {
      font-size: clamp(12px, 3vw, 1rem);
    }

    button {
      font-size: clamp(12px, 3vw, 1rem);
    }
  }

  .back-button mat-icon {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 20px;
  }


  .tag-input-container {
    input {
      padding: 4px 10px;
      font-size: clamp(12px, 3vw, 1rem);

      &::placeholder {
        font-size: clamp(12px, 3vw, 1rem);
      }
    }
  }

  .custom-chip-set {
    gap: 6px;
  }

  .custom-chip {
    padding: 2px 10px;
    font-size: clamp(12px, 3vw, 1rem);
    }
  
  .autocomplete-item {
    padding: 4px 10px;
    font-size: clamp(12px, 3vw, 1rem);
  }

  .add-image-button {
    margin: 20px auto 60px;
    font-size: clamp(12px, 4vw, 1rem);
    padding: 3px 20px;
  }

  .tag-input-container {
    .add-tag-button {
      min-width: 26px;
      height: 26px;
      font-size: 20px;
    }
  }

  .upload-success-message, .upload-progress {
    font-size: clamp(10px, 2.6vw, 2rem);
    margin: 0 18vw 40px;
  }
}
