<p>Upload your photos</p>

<mat-toolbar>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Icon-button with a menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/profile']">
            <mat-icon>person</mat-icon>
            <span>profile</span>
        </button>
        <button mat-menu-item [routerLink]="['/gallery']">
            <mat-icon>photo_library</mat-icon>
            <span>gallery</span>
        </button>
        <button mat-menu-item [routerLink]="['/add-image']">
            <mat-icon>add_to_photos</mat-icon>
            <span>add-image</span>
        </button>
    </mat-menu>
    <span>Pick Me</span>
</mat-toolbar>

<div class="file-selector">
    <input type="file" (change)="onFileSelected($event)">
</div>

<mat-form-field class="tag-input">
    <mat-label>tags</mat-label>
    <mat-chip-grid #chipGrid aria-label="Enter tags">
        @for (tag of tags(); track tag) {
        <mat-chip-row
            (removed)="remove(tag)"
            [editable]="true"
            (edited)="edit(tag, $event)"
            [aria-description]="'press enter to edit ' + tag.name"
        >
            {{tag.name}}
            <button matChipRemove [attr.aria-label]="'remove ' + tag.name">
                <mat-icon>cancel</mat-icon>
            </button>
        </mat-chip-row>
        }
        <input
        placeholder="new tag..."
        [matChipInputFor]="chipGrid"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event)"
        />
    </mat-chip-grid>
</mat-form-field>

<button mat-flat-button (click)="uploadPhoto()" [disabled]="isUploadDisabled">Add Image</button>

<div *ngIf="uploadSuccess">
  <p>Image uploaded successfully!</p>
  <img *ngIf="imageUrl" [src]="imageUrl" alt="Uploaded image">
</div>
