<div class="add-image-page">
    <mat-toolbar>
        <span class="pm-label">pm</span>
        <button class="burger-button" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Icon-button with a menu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/profile']">
                <mat-icon>person</mat-icon>
                <span>profile</span>
            </button>
            <button mat-menu-item [routerLink]="['/gallery']">
                <mat-icon>photo_library</mat-icon>
                <span>gallery</span>
            </button>
            <button mat-menu-item [routerLink]="['/add-image']">
                <mat-icon>add_to_photos</mat-icon>
                <span>add-image</span>
            </button>
            <button mat-menu-item (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                <span>logout</span>
            </button>
        </mat-menu>
    </mat-toolbar>

    <h1>Upload Your Photo</h1>
    
    <!-- <div class="file-selector">
        <input type="file" (change)="onFileSelected($event)">
    </div> -->

    <div class="dropzone" *ngIf="!selectedFile()" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)">
        <input type="file" #fileInput style="display: none;" (change)="onFileSelected($event)" accept=".jpg,.png" />
        <mat-icon>file_upload</mat-icon>
        <h3>drag & drop file here</h3>
        <h3>or</h3>
        <button mat-flat-button (click)="fileInput.click()">browse for file</button>
    </div>

    <div class="image-preview" *ngIf="selectedFile()">
        <img [src]="previewUrl()" alt="Selected image" class="preview-image" />
        <button mat-icon-button class="back-button" (click)="clearFile()" aria-label="Back to file selection">
            <mat-icon>arrow_back</mat-icon>
        </button>
    </div>

    <mat-form-field class="tag-input">
        <mat-label>tags</mat-label>
        <mat-chip-grid #chipGrid aria-label="Enter tags">
            @for (tag of tags(); track tag) {
            <mat-chip-row
                (removed)="remove(tag)"
                [editable]="true"
                (edited)="edit(tag, $event)"
                [aria-description]="'press enter to edit ' + tag.name"
            >
                {{tag.name}}
                <button matChipRemove [attr.aria-label]="'remove ' + tag.name">
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-chip-row>
            }
            <input
            placeholder="new tag..."
            [formControl]="tagCtrl"
            [matChipInputFor]="chipGrid"
            [matAutocomplete]="auto"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)"
            />
        </mat-chip-grid>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            @for (tag of filteredTags | async; track tag) {
                <mat-option [value]="tag.name">{{tag.name}}</mat-option>
            }
        </mat-autocomplete>
    </mat-form-field>

    <button class="add-image-button" mat-flat-button (click)="uploadPhoto()" [disabled]="isUploadDisabled">Add Image</button>

    <div *ngIf="uploadSuccess">
        <p>Image uploaded successfully!</p>
        <img *ngIf="imageUrl" [src]="imageUrl" alt="Uploaded image">
    </div>
</div>
