// Определяем общие переменные
$primary-pink: #ffa7b5;
$hover-pink: #ff8fa3;
$light-pink: #ffc0cb;
$border-pink: #ffd9df;
$background-hover: #fff2f4;
$disabled-pink: #ffdbdf;
$error-pink: #ff8da1;
$error-message-pink: #ff6b81;
$font-primary: 'Geologica-Regular', sans-serif;
$font-secondary: 'surgena', sans-serif;

.auth-container-sign-in,
.auth-container-sign-up {
  display: flex;
  height: 100vh;
  width: 100vw;
  font-family: $font-primary;

  .left-side,
  .right-side {
    width: 50%;
    height: 100vh;
  }

  .sign-in-form,
  .sign-up-form,
  .sign-in-screen,
  .sign-up-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: $light-pink;
    font-family: $font-primary;
  }

  h2 {
    font-size: 40px;
    font-family: $font-secondary;
    margin-bottom: 40px;
  }

  input {
    width: 50%;
    max-width: 300px;
    height: 40px;
    padding: 0 20px;
    border: 1px solid $border-pink;
    border-radius: 20px;
    font-size: 16px;
    font-family: $font-primary;
    color: $primary-pink;

    &::placeholder {
      color: $light-pink;
    }

    &:focus {
      outline: none;
      border: 2px solid $light-pink;
      box-shadow: 0 0 10px rgba(255, 192, 203, 0.5);
      transition: all 0.3s ease;
    }
  }

  button {
    width: 180px;
    height: 40px;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
    font-family: $font-secondary;
  }

  .sign-in-form button,
  .sign-up-form button {
    background-color: $light-pink;
    color: white;
    margin-top: 20px;

    &:hover {
      background-color: $primary-pink;
    }

    &:disabled {
      background-color: $disabled-pink;
      color: #fff;
      cursor: not-allowed;
      opacity: 0.6;
    }
  }

  .sign-in-screen button,
  .sign-up-screen button {
    background-color: white;
    color: $light-pink;

    &:hover {
      background-color: $background-hover;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  p {
    font-size: 16px;
    text-align: center;
    width: 80%;
    max-width: 500px;
    margin-bottom: 30px;
  }

  .error {
    color: $error-pink;
    font-size: 14px;
    margin: 10px 0;
    animation: fadeIn 0.5s ease-in-out;
    font-family: $font-primary;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    position: relative;

    input {
      margin-bottom: 5px;
    }
  }

  .input-hint {
    font-size: 12px;
    color: $light-pink;
    text-align: center;
    width: 80%;
    margin-bottom: 20px;
    font-family: $font-primary;
  }
}

.auth-container-sign-in {
  .left-side {
    background-color: white;
  }

  .right-side {
    background-color: $light-pink;
  }

  .sign-up-screen {
    color: white;
  }
}

.auth-container-sign-up {
  .left-side {
    background-color: $light-pink;
  }

  .right-side {
    background-color: white;
  }

  .sign-in-screen {
    color: white;
  }

  .sign-up-form h2 {
    margin-bottom: 30px;
  }
}

.auth-container.active {
  .sign-in-form,
  .sign-in-screen {
    display: none;
  }

  .sign-up-screen,
  .sign-up-form {
    display: block;
  }
}

.error-message {
  font-family: $font-primary;
  color: $error-message-pink;
  font-size: 14px;
  margin: 5px;
  text-align: center;
}

/* Анимация */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .auth-container-sign-in,
  .auth-container-sign-up {
    h2 {
      font-size: 40px;
      margin-bottom: 40px;
    }

    input {
      max-width: 240px;
      height: 34px;
      font-size: 16px;
    }

    .sign-in-form button,
    .sign-up-form button {
      width: 180px;
      height: 34px;
      font-size: 16px;
      margin-top: 18px;
    }

    .sign-in-screen h2,
    .sign-up-screen h2 {
      font-size: 40px;
      margin-bottom: 20px;
    }

    p {
      font-size: 16px;
      width: 70%;
      max-width: 300px;
    }

    .sign-in-screen button,
    .sign-up-screen button {
      width: 180px;
      height: 34px;
      font-size: 16px;
    }

    .error {
      font-size: 10px;
    }

    .input-hint {
      font-size: 12px;
      width: 80%;
      margin-bottom: 10px;
    }
  }

  .error-message {
    font-size: 13px;
  }

  .auth-container-sign-up {
    .sign-in-screen h2 {
      font-size: 36px;
    }
  }
}

@media (max-width: 767px) {
  .auth-container-sign-in,
  .auth-container-sign-up {
    flex-direction: column;
    height: 100vh;
    width: 100vw;

    .left-side,
    .right-side {
      width: 100%;
      height: 50vh;
    }

    h2 {
      font-size: 6.4vw;
      margin-bottom: 30px;
    }

    input {
      max-width: 240px;
      height: 30px;
      font-size: 16px;
    }

    .sign-in-form button,
    .sign-up-form button {
      width: 140px;
      height: 30px;
      font-size: 16px;
      margin-top: 16px;
    }

    p {
      font-size: 14px;
      width: 70%;
      max-width: 300px;
    }

    .sign-in-screen button,
    .sign-up-screen button {
      width: 140px;
      height: 30px;
      font-size: 16px;
    }

    .error {
      font-size: 10px;
    }

    .input-hint {
      font-size: 12px;
      width: 80%;
      margin-bottom: 10px;
    }
  }

  .error-message {
    font-size: 2.4vw;
  }

  .auth-container-sign-in {
    .sign-up-screen p {
      font-size: 2.6vw;
    }
  }

  .auth-container-sign-up {
    .sign-in-screen p {
      font-size: 14px;
    }
  }
}

@media (max-width: 480px) {
  .auth-container-sign-in,
  .auth-container-sign-up {
    flex-direction: column;
    height: 100vh;
    width: 100vw;

    .left-side,
    .right-side {
      width: 100%;
      height: 50vh;
    }

    h2 {
      font-size: 8vw;
      margin-bottom: 30px;
    }

    input {
      max-width: 180px;
      height: 30px;
      font-size: 14px;
    }

    .sign-in-form button,
    .sign-up-form button {
      width: 120px;
      height: 30px;
      font-size: 14px;
      margin-top: 16px;
    }

    p {
      font-size: 3.2vw;
      width: 70%;
      max-width: 300px;
    }

    .sign-in-screen button,
    .sign-up-screen button {
      width: 120px;
      height: 30px;
      font-size: 14px;
    }

    .error {
      font-size: 10px;
    }

    .input-hint {
      font-size: 10px;
      width: 80%;
      margin-bottom: 10px;
    }
  }

  .error-message {
    font-size: 3.2vw;
  }
}