@use '../../styles/shared-styles.scss' as *;

.tag-list {
  width: 100%;
  margin-top: 10px;
}

@media (max-width: 767px) {
  .search-items {
    .search-item {
      &:nth-child(1) {
        flex: 1 1 100%;
        min-width: 0;
      }

      &:nth-child(2) {
        flex: 1 1 70%;
        min-width: 0;
      }
    }
  }
}
