@use '../../styles/shared-styles.scss' as *;

.tag-list {
  width: 100%;
  margin-top: 10px;
}

.setting-button {
  .icon-md {
    font-size: 36px;
    width: 36px;
    height: 36px;
    line-height: 36px;
  }
}


@media (min-width: 992px) and (max-width: 1199px) {
  .setting-button {
    .icon-md {
      font-size: 24px;
      width: 24px;
      height: 24px;
      line-height: 24px;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .setting-button {
    .icon-md {
      font-size: 24px;
      width: 24px;
      height: 24px;
      line-height: 24px;
    }
  }
}

@media (max-width: 767px) {
  .search-items {
    .search-item {
      &:nth-child(1) {
        flex: 1 1 100%;
        min-width: 0;
      }

      &:nth-child(2) {
        flex: 1 1 70%;
        min-width: 0;
      }
    }
  }

  .setting-button {
    .icon-md {
      font-size: 17px;
      width: 17px;
      height: 17px;
      line-height: 17px;
    }
  }
}
