@font-face {
    font-family: 'Mabook';
    src: url(assets/fonts/Mabook/Mabook.ttf) format('truetype');
    font-weight:normal;
}

@font-face {
    font-family: 'Geologica-Regular';
    src: url(assets/fonts/Geologica-Regular.ttf) format('truetype');
    font-weight:normal;
}

@font-face {
    font-family: 'JimmyCollinsDemoVersion';
    src: url(assets/fonts/JimmyCollinsDemoVersion.ttf) format('truetype');
    font-weight:normal;
}

@font-face {
    font-family: 'neoda';
    src: url(assets/fonts/neoda.ttf) format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'surgena';
    src: url(assets/fonts/surgenapersonaluseonlysembd-q2qwd.ttf) format(truetype);
    font-weight:normal;
}

body { margin: 0;}
